<%= simple_form_for [ @room, @perk ] do |f| %>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :number %>
</div>
<div class="form-actions flex items-center px-4 py-2 text-white justify-self-center">
  <%= f.button :submit, "Ajouter un élément à la chambre", class: "btn btn-gradient" %>
</div>
<% end %>
