// Specific CSS for your home-page
.home-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f3057;
  background-repeat:no-repeat;
  background-position:center;
}

video {
  margin-top: 10px;
  max-width: 100%;
}

.hidden {
  display: none;
}
