<div class="home-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dqehqrmss/image/upload/c_scale,w_2000/v1617483931/background_d5dss6.jpg')">
  <div class="text-center">
    <%= link_to projects_path do %>
      <%= cl_image_tag "https://res.cloudinary.com/dqehqrmss/image/upload/v1615842190/la_fav_gneoj8.webp ", width: 400, crop: :fill %>
    <% end %>
    <div class="d-none d-sm-block video">
      <%= cl_video_tag("LAfav", :loop => true, :autoplay => true, :poster => true, controls: true,
  :fallback_content => "Your browser does not support HTML5 video tags" )%>
    </div>
  </div>
</div>
