
<div class="home-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dqehqrmss/image/upload/v1615842191/lafaverie_onict1.webp", height: 500, crop: :fill %>')">
</div>
