<div class="home-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dqehqrmss/image/upload/c_scale,w_3000/v1617482925/Photo_6553672_DJI_72_jpg_4492983_0_202143183916_photo_original_irqwjc.jpg')">
  <div class="text-center">
    <%= link_to projects_path do %>
      <%= cl_image_tag "https://res.cloudinary.com/dqehqrmss/image/upload/v1615842190/la_fav_gneoj8.webp ", width: 400, crop: :fill %>
    <% end %>
    <div class="d-none d-sm-block video">
      <%# <%= cl_video_tag("LAfav", :autoplay => true, :poster => true, controls: true,
  :fallback_content => "Your browser does not support HTML5 video tags", onended: "this.classList.add('hidden');")%>
  <iframe width="1280" height="720" src="https://www.youtube.com/embed/Isz-eqIBZLw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
