<%= simple_form_for [ @familly, ], :remote => true do |f| %>
<div class="form-inputs flatpickr">
<%= f.input :nom, input_html: { placeholder: " Exemple" } %>
<%= f.input :prenom, input_html: { placeholder: " Jean-Michel" } %>
</div>
<div class="mt-2 form-actions text-center text-center">
  <%= f.button :submit, "Ajouter à ta famille", class: "btn btn-gradient" %>
</div>
<% end %>
