// Specific CSS for your home-page
.tasks-display {
  min-width: 30vw;
}
.tasks {
  min-height: 200px;
}

.background-img {
  height: 20vh;
}

.card-whos {
  height: calc(100% - 64px);
}
.card-buys {
  height: calc(100% - 52px);
}
.card-tasks {
  height: calc(100% - 52px);
}
