// Specific CSS for your home-page
.tasks-display {
  width: 40vw;
}

.background-img {
  height: 20vh;
}

.project {
  background-color: white;
}
.tasks-display {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
