// Specific CSS for your home-page
.tasks-display {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.tasks {
  min-height: 200px;
}

.background-img {
  height: 20vh;
}

.card-whos {
  height: calc(100% - 64px);
}
.card-buys {
  height: calc(100% - 52px);
}
.card-tasks {
  height: calc(100% - 52px);
}
.tasks-display p {
  margin-bottom: 0;
}
