.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#00587a, #0f3057);
  transition: background 0.3s ease;
  border: 1px solid #008891;
}

.btn-gradient:hover {
  background: linear-gradient(#0f3057, #00587a);
  color: white;
}

.btn {
  color: white;
  text-align: center;
}

.edit-button {
  text-decoration: none;
  color: black;
  font-size: 0.90rem;
}

.edit-button:hover {
   color: #000000;
}
