<p>Bonjour <%= @resource.first_name %>,!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons car ton mail n'estpas encore confirm" : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour te confirmer que ton mail a été changé par : <%= @resource.email %>.</p>
<% end %>
