<p>Bonjour<%= @resource.first_name %>,</p>

<p>Quelqu'un vient de demander un lien pour modifier ton mot de passe. Tu peux le faire avec le lien ci-dessous.</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si cette demande ne vient pas de toi, tu peux ignorer ce mail.</p>
<p>Ton mot de passe ne changera pas tant que tu ne cliquera pas sur le lien.</p>
